/* GENERAL */

* {
  transition: color 5s;
}

.title {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}

.buffer {
  border: 1px solid #fff;
}

/* INFO / CONTACT */

.img1 {
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contact-left ul li {
  text-align: right;
}

.contact-right ul li {
  text-align: left;
  text-decoration: none;
}
.contact-right ul li a {
  text-decoration: none;
  color: #008080;
}
.text p {
  text-align: center;
}

/* PROJETS */

.protitre {
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Montserrat Alternates', sans-serif;

}

div.projet {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.projet:hover {
  border: 1px solid #777;
}

div.projet img {
  width: 100%;
  height: auto;
}

div.legende {
  text-align: center;
}
div.legende a {
  text-decoration: none;
   color: #008080;
}
/* EXPERIENCE */

.exp h3 {
  text-align: right;
  letter-spacing: 2px;
  font-family: 'Montserrat Alternates', sans-serif;

}

.exp-poste p {
  font-weight: bold;
  text-align: left;
}

.exp-poste li {
  text-align: left;
}

/* FORMATION */

.formation h3 {
  text-align: left;
  letter-spacing: 2px;
  font-family: 'Montserrat Alternates', sans-serif;

}

.formation-dip p {
  font-weight: bold;
  text-align: right;
}

.formation-dip li {
  text-align: right;
}

/* DROPDOWN */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  padding: 10px 10px;
  position: relative;
  width: 100%;
  background-color: white;
  color: black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 20px;
}

/* COMPETENCES */

h5 {
  text-align: center;
}

.skills h3 {
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.skills {
  text-align: center;
}
/* TRUCS QUE J'AIME */
.son h3 {
  text-align: center;
}
.book h3 {
  text-align: center;
}
.cover {
  text-align: center;
}
